@font-face {
  font-family: "Grotesk";
  src: url("Labrada-ExtraLightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
}

   @font-face {
    font-family: "Inter";
    src: url("https://cdn.glitch.global/a0135ad0-4092-4324-a09e-d318ebf16060/Inter.ttf?v=1692122620818");
}

html {
background-color: white;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body .cursor {
pointer-events: none;
}

body .cursor__ball {
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}

body .cursor {
mix-blend-mode: difference;
}

@media (max-width: 450px) {
  .cursor__ball {
    visibility: hidden;
  }

  h1{
    width: 40vw !important;
  }

  #type, #date {
    font-size: 1.9vmin !important; 
  }

  p{
     font-size: 3.1vmin !important;
  }

  #colophon{
    font-size: 3.1vmin !important;
    width: 50vw !important;
  }

  #back {
    left: 5vw !important;
  }

  .projects-top {
    height: 60vh !important;
    }
    
    .projects-bottom{
    height: 40vh !important;
    }

    #top{
      width: 20vw;
    }

    #t1{
      min-width: 57% !important;
    }

    #t2{
      min-width: 78% !important;
    }

    #t3{
      min-width: 60% !important;
    }

    #t4{
      min-width: 55% !important;
    }


    #b1{
      min-width: 5% !important;
    }

    #b2 {
      min-width: 35% !important;
    }

    #b3 {
      min-width: 30% !important;
    }

    #b4 {
      min-width: 40% !important;
    }
    
}

body .cursor__ball circle {
fill: white;
}

#t1{
  min-width: 24%;
}

#t2{
  min-width: 25%;
}

#t3{
  min-width: 20%;
}

#t4{
  min-width: 30%;
}

#b1{
  min-width: 20%;
}

#b4{
  min-width: 30%;
}

h1{
  font-family: 'Grotesk';
  font-size: 4.5vh;
  line-height: 92%;
  position: relative;
  z-index: 999;
  color: white;
  margin: 0;
  mix-blend-mode: difference;
}

.italics {
  font-style: italic;
}

.link{
  color: black;
}

.wrapper{
  width: 100%;
  height: auto;
  position: relative;
}

.scroll-container{
  margin-top: 1.5vh;
  overflow: scroll;
  height: 45vh;
}

.scroll-container-smaller{
  margin-top: 1.5vh;
  overflow: scroll;
  height: 25vh;
}

#type{
  margin-top: -1.5vh;
  font-family: "Inter";
  font-size: 1.3vmin;
  color: grey;
}

#colophon{
  padding: 0;
  margin:0;
  min-width: 40vw;
  font-family: 'Inter';
  position: relative;
  color: black;
  font-size: 1.9vmin;
}

p{
  font-family: 'Inter';
  font-size: 2vh;
  font-weight: 250;
  min-width: 10vw;
  padding-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

#back{
  position: fixed;
  font-family: 'Inter';
  font-size: 2vh;
  font-weight: 250;
  text-decoration: none;
  top: 3vh;
  left: 2vw;
  color: white;
  mix-blend-mode: difference;
  z-index: 999;
}

.item-top {
  padding: 20px;
  padding-top: 120%;
  outline: solid 1px rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
}

.item-bottom {
  padding: 15px;
  font-family: 'Inter';
  width: 15vw;
  padding-bottom: 100%;
  outline: solid 1px rgb(222, 222, 222);
}

.projects-top {
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70vh;
  column-gap: 1px;
  overflow-x: auto;
  position: relative;
}
.projects-bottom {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30vh;
  column-gap: 1px;
  overflow-x: auto;
  overflow-y: hidden;
}

.projects-top::-webkit-scrollbar {
  display: none;
}

.projects-bottom::-webkit-scrollbar {
  display: none;
}

