@font-face {
    font-family: "Grotesk";
    src: url("https://cdn.glitch.global/a0135ad0-4092-4324-a09e-d318ebf16060/Soyuz%20Grotesk%20Bold.otf?v=1690543335737");
}

   @font-face {
    font-family: "Inter";
    src: url("https://cdn.glitch.global/a0135ad0-4092-4324-a09e-d318ebf16060/Inter.ttf?v=1692122620818");
}

html {
background-color: white;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body .cursor {
pointer-events: none;
}

body .cursor__ball {
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}

body .cursor {
mix-blend-mode: difference;
}

@media (max-width: 450px) {
  .cursor__ball {
    visibility: hidden;
  }
  
  #contact {
    top: 5vh !important;
  }

  #title {
    font-size: 2vmin !important; 
}

  #ol {
    width: 63vw !important;
  }

  #time {
    width: 63vw !important;
  }

  #type, #date {
    font-size: 1.7vmin !important; 
}
}

body .cursor__ball circle {
fill: white;
}

h1{
  font-family: 'Grotesk';
  font-size: 4vh;
  line-height: 92%;
  position: relative;
  z-index: 999;
  color: white;
  margin: 0;
  mix-blend-mode: difference;
}

#title{
  font-family: "Inter";
  text-align: left;
  font-size: 1.6vmin;
  color: black;
  padding: 0;
  margin: 0;
}

.wrapper{
  width: auto;
  height: auto;
  position: relative;
}

#type{
  font-family: "Inter";
  text-align: left;
  font-size: 1.3vmin;
  margin: 0;
  position: absolute;
  color: grey;
}

#date{
  font-family: "Inter";
  text-align: right;
  right: 0;
  margin: 0;
  font-size: 1.3vmin;
  position: absolute;
  color: grey;
}

#about{
  position: fixed;
  font-family: 'Inter';
  font-size: 2vh;
  font-weight: 250;
  text-decoration: none;
  top: 2vh;
  right: 2vw;
  color: white;
  mix-blend-mode: difference;
  z-index: 999;
}

#contact{
  position: fixed;
  top: 2vh;
  right: 0vw;
  font-family: 'Inter';
  font-size: 2vh;
  font-weight: 250;
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
  margin-right: 8vw;
  z-index: 999;
}

.item-top {
  padding: 20px;
  padding-top: 100%;
  outline: solid 1px rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
}

.item-bottom {
  padding: 20px;
  padding-bottom: 100%;
  outline: solid 1px rgb(222, 222, 222);
}

.projects-top {
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  height: 55vh;
  column-gap: 1px;
  overflow-x: auto;
  position: relative;
}
.projects-bottom {
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 45vh;
  column-gap: 1px;
  overflow-x: auto;
  overflow-y: hidden;
}

.projects-top::-webkit-scrollbar {
  display: none;
}

.projects-bottom::-webkit-scrollbar {
  display: none;
}

